.ternaries-page {
    position:absolute;
    background-color: rgb(255, 255, 255);
    min-width:100%;
    min-height:fit-content;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: rgb(97, 94, 94);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container-examples {
    border: 1px solid burlywood;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;  
}

.state-display-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
}

.state-display{
    display: flex;
    flex-direction: row;

    gap:2rem;
    border: 1px solid rebeccapurple;
    padding: 0.5rem;
    border-radius: 1rem;
}

.set-state-button {
    color: black;
    background-color: rgb(230, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    height:2rem;
}

.code-snippet {
    text-align: left;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 1rem;
}

.code-snippet-sm {
    text-align: left;
    font-size: 7px;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 1rem;
}

.information-area{
    border: 1px solid rebeccapurple;
    padding: 0.5rem;
    border-radius:0.5rem;
}

.users-display {
    display: flex;
    flex-direction: row;
}

.user-box {
    display:flex;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    padding: 0.5rem;
    border-radius:0.5rem;
    gap:1rem;
}

.enclosed {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius:0.5rem;
    gap:1rem;
}