.main-screen{
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
    margin-top:60px;
}

.sidebar{
    background-color: rgba(30,30,30,0) ;
    flex-shrink: 0;
    width:200px;
}
.sidebar-selection {
    cursor: pointer;
}
:hover.sidebar-selection {
    color:lightpink;
    cursor: pointer;
    
}
.mainbar {
    background-color: rgb(98, 100, 101);
    flex-grow: 1;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.mini-title {
    padding: 1rem;
}

.project-view {
    visibility: hidden;
}
.project-view--selected {
    visibility: visible;
}




