:root {
    --aqua-color: aquamarine;
  }

.clock-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}
/* 
.table{
    flex-shrink: 0;
    background: linear-gradient(to bottom, rgb(70, 25, 25), rgb(22, 9, 9));

    bottom: 0;

} */

.clock-face{
    display:flex;
    flex-direction: row;
    border: 0.8rem solid rgb(172, 160, 160);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    background-color: rgb(34, 38, 43);
}
.digit {
    padding:5px;

}

.digit-top{
    border-radius: 0.1rem;
    width:40px;
    height:40px;
    box-sizing: border-box;
}
.digit-middle {

    width: 30px;
    height: 0.2rem;
    display: flex;


}
.digit-bottom {
    border-radius: 0.1rem;
    width:40px;
    height:40px;
    box-sizing: border-box;
}


.center{
    background-color: var(--aqua-color);
}
.left{
    border-left: 0.2rem solid;
    border-left-color: var(--aqua-color);
    
}
.top{
    border-top: 0.2rem solid;
    border-top-color: var(--aqua-color);
}
.bottom{
    border-bottom: 0.2rem solid;
    border-bottom-color: var(--aqua-color);
}
.right{
    border-right: 0.2rem solid;
    border-right-color: var(--aqua-color);
}

.top-dot {
    background-color: var(--aqua-color);
    width: 8px;
    height: 8px;
    border-radius: 0.5rem;
}
.bottom-dot{
    background-color: var(--aqua-color);
    width: 8px;
    height: 8px;
    border-radius: 0.5rem;
}
.colon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}

